Click==7.0
coverage==4.5.4
Flask==1.1.1
Flask-SQLAlchemy==2.4.1
gunicorn==19.10.0
imutils==0.5.3
itsdangerous==1.1.0
Jinja2==2.10.3
MarkupSafe==1.1.1
numpy==1.16.5
opencv-python==4.2.0.32
psycopg2==2.8.4
SQLAlchemy==1.3.10
Werkzeug==0.16.0
